.footer {
    background-color: #323540;
    height: 10vh;
    padding: 0 2em 0 5em;
    display: flex;
    gap: 0.7em;
    align-items: center;
    color: white;
    justify-content: space-between;
}
